@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-gray-100 font-sans antialiased;
  }
}

@layer utilities {
  .neon-glow {
    text-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #00f0ff;
  }
  
  .neon-border {
    box-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff;
  }
}
